.main {
  background-color: cadetblue;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: white;
  width: 30%;
  height: 90%;
  box-shadow: 5px 5px 5px 2px grey;
  padding: 0;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}
.txt1 {
  color: grey;
  letter-spacing: 0.5px;
  font-family: Arial, Helvetica, sans-serif;
}

.top {
  width: 90%;
  height: 80px;
  border-radius-top: 30px;
  display: flex;
  border-bottom: 1px solid gainsboro;
  padding: 0;
}

.txt1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 200px;
  margin-top: 10px;
}

.tasks {
  width: 150px;
  height: 30px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.txt2 {
  font-size: 20px;
  font-weight: 500px;
  font-family: Arial, Helvetica, sans-serif;
}

#img1 {
  font-size: 20px;
  margin-top: 5px;
}

.left {
  width: 90%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}

.right {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#img2 {
  margin-left: 25px;
}
i {
  cursor: pointer;
}

.bottom {
  width: 100%;
  height: 91%;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.addtask {
  width: 85%;
  height: 35px;
  margin: 7px;
  border-radius: 20px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.menu {
  width: 35px;
  height: 35px;
  margin: 7px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  cursor: pointer;
}

#img3 {
  margin-left: 15px;
}

.txt3 {
  color: #1a73e8;
}

.addtask:hover {
  background-color: rgba(226, 226, 226, 0.5);
}

.menu:hover {
  background-color: rgba(226, 226, 226, 0.5);
}

#taskimg {
  width: 250px;
  height: 200px;
  opacity: 0.3;
  position: absolute;
  top: 120px;
  justify-self: center;
}

.content {
  width: 100%;
  height: calc(96% - 23px);
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
  position: relative;
}

.ti-div {
  position: absolute;
  top: 0;
  left: 50;
  width: 70%;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
  margin-top: 10px;
  visibility: hidden;
}

.inputbox {
  height: 40px;
  width: 82%;
  margin-left: 5px;
  border: none;
  outline: none;
  border-bottom: 1px solid;
  border-color: rgb(236, 234, 234);
}

.button {
  height: 40px;
  width: 12%;
  font-size: 12px;
  background-color: #1a73e8;
  border-radius: 20px;
  scale: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.inputbox::placeholder {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
}

.ttc {
  width: 100%;
  height: 50%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}
.ct {
  width: 100%;
  height: 50%;
  border-radius: 30px;
}

.hidden {
  display: none;
}

.visible {
  font-size: 12px;
  margin: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
  margin-left: 25px;
}

.hidden:hover {
  color: #1a73e8;
}

.list-class {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  letter-spacing: 0.25px;
  list-style-type: none;
  display: flex;
  align-items: center;
  width: auto;
}

.list-class span {
  margin-left: 5px;
}
.list-class input {
  margin-top: 2px;
}

.clone-item {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  letter-spacing: 0.25px;
  list-style-type: none;
  display: flex;
  align-items: center;
  width: auto;
}

.clone-item span {
  margin-left: 5px;
}
.clone-item input[type="checkbox"] {
  margin-top: 2px;
  accent-color: green;
}

.hidden2 {
  display: none;
}

.allcompleted {
  letter-spacing: 0.2px;
  top: 330px;
  position: absolute;
  justify-self: center;
}

.nicework {
  position: absolute;
  top: 360px;
  opacity: 0.8;
  justify-self: center;
}

.button i {
  color: white;
  font-size: 22px;
}

.popup_hidden {
  background-color: white;
  box-shadow: 0.5px 0.5px 5px grey;
  width: 130px;
  height: 100px;
  position: absolute;
  left: 350px;
  margin-top: 7px;
  display: none;
}

.popup {
  background-color: white;
  box-shadow: 0.5px 0.5px 5px grey;
  width: 130px;
  height: 100px;
  position: absolute;
  left: 310px;
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  justify-content: space-around;
  gap: 5px;
}

.elmnt1 {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.elmnt2 {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.elmnt1:hover {
  background-color: aliceblue;
}
.elmnt2:hover {
  background-color: aliceblue;
}

.opn1 {
  font-size: 14px;
  margin-left: 10px;
}

.opn2 {
  font-size: 14px;
  margin-left: 10px;
  word-wrap: break-word;
  word-break: normal;
}

.enter_description {
  position: absolute;
  top: 10px;
  color: red;
  visibility: hidden;
}
